body{
	margin: 0;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 25% 75%;
	font-family: Arial, sans-serif;
}

.barra-lateral{
	background: #1e4ed8;
	padding: 20px;
}

.menu a{
	display: block;
	color: white;
	text-decoration: none;
	margin: 10px 0;
	transition: color 0.2s;
}

.menu a:hover{
	color: #bfbfbf;
}

.contenido{
	background: #e5e7eb;
	padding: 20px;
}

.titulo-principal{
	margin-top: 0;
}

.formulario{
	background: white;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0,0,0,0.1);
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 20px;
}

.formulario input,
.formulario select,
.formulario textarea,
.formulario button{
	padding: 8px;
}

.prioridad-alta {
    border-left-color: #ef4444;
}

.prioridad-media {
    border-left-color: #f59e0b;
}

.prioridad-baja {
    border-left-color: #10b981;
}
