body{
	margin: 0;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 25% 75%;
	font-family: Arial, sans-serif;
}

aside{
	background: #1e4ed8;
	padding: 20px;
	height: 100vh;
}

aside nav a{
	display: block;
	color: white;
	text-decoration: none;
	margin: 10px 0;
	transition: color 0.2s ease;
}

aside nav a:hover{
	color: #bfbfbf;
}

main{
	background: #e5e7eb; /* gris */
	padding: 20px;
}

.añadir-tareas{
	background: white;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0,0,0,0.1);
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.añadir-tareas input,
.añadir-tareas button{
	padding: 8px;
}
